/* ANCHOR Base */
:root {
   --primary-color: #ff5400;
   --text-secondary: #5a5a5a;
   --border-color: lightgray;
}

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body,
button,
input,
select {
   font-family: "Mulish", sans-serif;
   font-size: 14px;
}

h1 {
   font-size: 1.25rem;
   font-weight: 800;
}

h2,
h3 {
   font-size: 1.25rem;
   font-weight: 700;
}

p {
   line-height: 1.625;
   color: var(--text-secondary);
}

li {
   list-style: none;
}

a {
   text-decoration: none;
   color: inherit;
}

.container {
   max-width: 1200px;
   padding-left: 1.25rem;
   padding-right: 1.25rem;
}

.bg-image-wrapper {
   background-position: center center;
   background-repeat: no-repeat;
   background-size: cover;
}

.btn,
.icon-btn {
   flex-shrink: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   border: 0;
   transition: transform;
   transition-duration: 150ms;
   gap: 0.5rem;
}

.btn {
   padding-left: 2rem;
   padding-right: 2rem;
}

.input {
   border: 0;
   outline: none;
   padding-left: 1rem;
   padding-right: 1rem;
   width: 100%;
}

.btn,
.input {
   height: 3.25rem;
   border-radius: 0.5rem;
   flex-shrink: 0;
}

.btn:active,
.icon-btn:active {
   transform: scale(0.9);
}

.icon {
   width: 1.5rem;
   height: 1.5rem;
}

.icon-btn {
   padding: 0.25rem;
   background: white;
   border: 1px solid var(--border-color);
   border-radius: 0.25rem;
}

.heading,
.sub-heading {
   margin-bottom: 1rem;
   margin-left: 1rem;
   margin-right: 1rem;
}

/* ANCHOR Component Styles */
.main-content {
   display: grid;
   row-gap: 3.5rem;
   margin-top: 3.5rem;
   margin-bottom: 3.5rem;
}

/* Header Section */
.header-section {
   padding-top: 1rem;
   padding-bottom: 1rem;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.logo-container {
   display: flex;
   align-items: center;
   gap: 0.5rem;
}

.logo-container > .logo {
   width: 2rem;
   height: 2rem;
}

.navigation {
   display: none;
}

.nav-menu > li:hover > a {
   color: var(--primary-color);
}

/* Hero Section */
.hero-section {
   display: grid;
   justify-items: center;
   align-content: center;
   background-image: linear-gradient(to bottom, #131318bf, #13131800),
      url("images/Banner1.png");
   border-radius: 1rem;
   padding: 2rem 1rem 3rem;
}

.hero-section > .hero-title {
   margin-bottom: 0.5rem;
   max-width: 42.25rem;
}

.find-trip-form {
   margin-top: 3rem;
   display: grid;
   column-gap: 1.5rem;
   row-gap: 1rem;
   width: 100%;
   max-width: 25rem;
}

/* Popular Tours Section */
.popular-tour-section {
   display: grid;
   row-gap: 1.5rem;
   column-gap: 3.5rem;
}

.popular-tour-section .left-column {
   display: grid;
   row-gap: 1rem;
   align-content: start;
}

.popular-tour-section ul.list {
   margin-left: 1rem;
   display: grid;
   row-gap: 0.75rem;
}

.popular-tour-section ul.list > li {
   list-style: disc;
}

.popular-tour-section > .image {
   width: 100%;
}

/* Choose Destination Section */
.destination-gallery {
   display: grid;
   gap: 1rem;
}

.destination-gallery > .image-box {
   aspect-ratio: 16 / 9;
   border-radius: 1rem;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 1.25rem;
   width: 100%;
}

.image-1 {
   background-image: linear-gradient(to bottom, #131318bf, #13131800),
      url("images/Maldives.png");
}
.image-2 {
   background-image: linear-gradient(to bottom, #131318bf, #13131800),
      url("images/Indonesia.png");
}
.image-3 {
   background-image: linear-gradient(to bottom, #131318bf, #13131800),
      url("images/Srilanka.png");
}
.image-4 {
   background-image: linear-gradient(to bottom, #131318bf, #13131800),
      url("images/NorthAmerica.png");
}
.image-5 {
   background-image: linear-gradient(to bottom, #131318bf, #13131800),
      url("images/Kashmir.png");
}
.image-6 {
   background-image: linear-gradient(to bottom, #131318bf, #13131800),
      url("images/Bangladesh1.png");
}
.image-7 {
   background-image: linear-gradient(to bottom, #131318bf, #13131800),
      url("images/Bandarban.png");
}

/* Why Choose Us Section */
.choose-us-features {
   display: flex;
   flex-wrap: wrap;
   gap: 1rem;
   justify-content: center;
}

.choose-us-features > .card {
   padding: 2rem;
   border-radius: 1rem;
   max-width: 35.75rem;
   width: 100%;
}

.choose-us-features > .card:nth-child(1) {
   background-color: #fffbf7;
   border: 1px solid #feedd9;
}

.choose-us-features > .card:nth-child(2) {
   background-color: #f4fdff;
   border: 1px solid #cbf4fd;
}

.choose-us-features > .card:nth-child(3) {
   background-color: #fef6f6;
   border: 1px solid #fad2d2;
}

.choose-us-features > .card > .icon {
   width: 3rem;
   height: 3rem;
}

.choose-us-features > .card > .title {
   margin-top: 1rem;
   margin-bottom: 1rem;
}

/* ANCHOR Responsive Styles (Desktop) */
@media (min-width: 1200px) {
   body,
   button,
   input {
      font-size: 16px;
   }

   h1 {
      font-size: 2.5rem;
   }

   h2 {
      font-size: 1.75rem;
   }

   h3 {
      size: 1.25rem;
   }

   .container {
      padding-left: 0;
      padding-right: 0;
      margin-left: auto;
      margin-right: auto;
   }

   .main-content {
      row-gap: 5.25rem;
      margin-top: 5.25rem;
      margin-bottom: 5.25rem;
   }

   .heading {
      margin-bottom: 1.5rem;
   }

   .sub-heading {
      margin-bottom: 3rem;
      margin-left: auto;
      margin-right: auto;
      max-width: 40.375rem;
   }

   /* R: Header Section */
   .icon-btn {
      display: none;
   }

   .logo-container {
      gap: 0.75rem;
   }

   .logo-container > .logo {
      width: 3rem;
      height: 3rem;
   }

   .navigation {
      display: block;
   }

   .nav-menu {
      display: flex;
      gap: 2.75rem;
   }

   /* R: Hero Section */
   .hero-section {
      height: 31.25rem;
   }

   .hero-title {
      font-size: 4rem;
      margin-bottom: 1.5rem;
   }

   .find-trip-form {
      padding: 1rem;
      max-width: 50rem;
      border-radius: 0.5rem;
      background-color: #fafafa4d;
      grid-template-columns: repeat(4, 1fr);
   }

   /* R: Popular Tours Section */
   .popular-tour-section {
      grid-template-columns: repeat(2, 1fr);
   }

   .popular-tour-section .left-column {
      row-gap: 1.5rem;
   }

   .popular-tour-section ul.list {
      row-gap: 1rem;
   }

   /* R: Choose Destination Section */
   .destination-gallery {
      grid-template-columns: repeat(12, 1fr);
      gap: 1.5rem;
   }

   .destination-gallery > .image-box {
      font-size: 1.75rem;
      aspect-ratio: auto;
      height: 18.75rem;
   }

   .image-1 {
      grid-area: 1 / 1 / span 1 / span 6;
   }
   .image-2 {
      grid-area: 1 / 7 / span 1 / span 6;
   }
   .image-3 {
      grid-area: 2 / 1 / span 1 / span 4;
   }
   .image-4 {
      grid-area: 2 / 5 / span 1 / span 5;
   }
   .image-5 {
      grid-area: 2 / 10 / span 1 / span 3;
   }
   .image-6 {
      grid-area: 3 / 1 / span 1 / span 5;
   }
   .image-7 {
      grid-area: 3 / 6 / span 1 / span 7;
   }

   /* R: Why Choose Us Section */
   .choose-us-features {
      gap: 1.5rem;
   }

   .choose-us-features > .card > .icon {
      width: 4rem;
      height: 4rem;
   }

   .choose-us-features > .card > .title {
      margin-top: 2rem;
   }
}

/* ANCHOR Utilities */
.border {
   border: 1px solid var(--border-color);
}

.text-center {
   text-align: center;
}

.text-primary {
   color: var(--primary-color);
}

.text-secondary {
   color: var(--text-secondary);
}

.text-white {
   color: white;
}

.btn-primary {
   background-color: var(--primary-color);
   color: white;
}
